﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm HT</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>1822040764</th>
            <th>Ma Tan Tai</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Ma Tan Tai</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>002</td>
                    <td>Nguyen Huu Huy</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>003</td>
                    <td>Tang Thien Thuan</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>004</td>
                    <td>Ngyen Viet Tuan</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Ma Tan Tai - @DateTime.Now.Year</p>
</footer>
